.input {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: var(--text-color);
	border-radius: 10px;
	border: 1px solid #EFEFEF;
	box-shadow: 15px 20px 45px 0px rgba(233, 233, 233, 0.25);
	padding: 16px 30px;
	background-color: #FCFCFD;
	min-width: 256px;

}

.search-wrapper {
	position: relative;
}

.icon {
	position: absolute;
	left: 10px;
	top: 18px;
	right: 18px;
}