:root {
  --font: "Open Sans", sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #be4524;
  --white-color: #FFFFFF;
  --text-secondary-color:  #5B5B5E;
  --black-color: #000000;
  --separator-color: #D4D6E0 
}

body{
  font-family: "Open Sans", sans-serif;
}